body {
  margin: 0;
  background: black;
  color: #33ff33;
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
  word-break: break-all;
}
#terminal {
  padding: 1em;
}
.prompt {
  margin-right: 0.5em;
}
#input-line{
  display: flex;
  align-items: center;
}
#command-input {
  flex:1;
  display: flex;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  min-width: 1ch;
  width: 100%;
  max-width: 100%;
  min-height: 1em;
  caret-color: transparent;

}
#command-input.placeholder {
  color: #666;
  font-style: italic;
  pointer-events: none;
}
#command-input::after {
  content: '█';
  animation: blink 1s steps(2, start) infinite;
  margin-top: -0.25rem;

  
}
.blink {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.neofetch{
  display:flex;
}
/* Responsive adjustments */
@media (max-width: 600px) {
 .neofetch{
  display:inline-block;
 }
#command-input{
  display: inline-block;
}
#command-input::after {
  position: relative;
  top:-2px;
}
#command-input br{
  display:none;
}
}